.greetings{
    color: red;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 50px;
    text-decoration: underline;
}
.button{
     /* color: green; 
    font-size: larger;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
    border-width: 1px;
    border-color: rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
     background-color: red; 
     border-radius: 100px;  */  
     justify-content: center;
    margin-top: center;
    margin-left: 480px;
    vertical-align: middle;
    font-weight: bold;
    font-style: italic;
    width: 180px;
    height: 100px;
    border-radius: 50px;
    font-size: 20px;
    color: black;
    line-height: 100px;
    text-align: center;
    background: lightgreen;
    touch-action: manipulation; 
    cursor: pointer;
}
.button:hover{
    background: green;
}